<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
</head>
<body onload='document.f.username.focus();'>
  <h3>Informe Usuário, Senha, Empresa e Filial</h3>
  <form th:action="@{/login}" method="post">
    <table>
      <tr>
        <td>Usuário:</td>
        <td><input type='text' name='username' value='' /></td>
      </tr>
      <tr>
        <td>Senha:</td>
        <td><input type='password' name='password' /></td>
      </tr>
      <tr>
        <td>Empresa:</td>
        <td><input type='text' name='empresa' /></td>
      </tr>
      <tr>
        <td>Filial:</td>
        <td><input type='text' name='filial' /></td>
      </tr>
      <tr>
        <td colspan='2'><input name="submit" type="submit" value="Login" /></td>
      </tr>
    </table>
  </form>
</body>
</html>